body {
    background-color: rgb(209, 134, 171);
}
h1 {
    text-align: center;
    padding-top: 20px ;
    padding-bottom: 20px;
    border: 1px solid black;
    border-bottom: 0px;
    margin-bottom: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
}

.nav_bar {
    flex: 2;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-bottom: 0px;
}

.nav_bar a {
    text-align: center;
    padding-top: 40px;
}

.content {
    flex: 8;
    border: 1px solid black;
    border-bottom: 0px;
    border-left: 0px;
}

.content div {
    padding: 20px;
    text-align: center;
}

.pictures {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
}

footer {
    padding: 0px;
    border: 1px solid black;
    text-align: center;
}