header {
    position: fixed;
    top: 0;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    height: 100vh;
}

.sidebar {
    position: relative;
    background-color: blue;
    width: 20%;
    display: flex;
}

.main-content {
    position: relative;
    background-color: red;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.absolute-box {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid black;
    height: 100px;
    width: 100px;

}

footer {
    position: sticky;
    bottom: 0;
}